{{ partial "header" . }}

<main>
    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <h1>{{ .Site.Title }}</h1>
        <h2>{{ markdownify .Site.Params.Description }}</h2>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}
    </div>
</main>

<div id="home-nav-button-wrapper">
    <button class="home-nav-button" id="home-nav-button-amt-calculator"> <a href="/amt-calculator/">Calculate my AMT</a></button>
    <button class="home-nav-button" id="home-nav-button-iso-exercise-planner" > <a href="/iso-exercise-planner/">How much ISO can I exercise</a></button>
    <button class="home-nav-button" id="home-nav-button-learn-more"> <a href="/posts/">Learn about the AMT</a></button>
</div>
{{ partial "footer" . }}
