
<label for="filing_status">Choose your Filing Status</label>
<select name="filing_status" id="filing_status">
  <option value="single">Single</option>
  <option value="married_separately">Married, Filing Separately</option>
  <option value="married">Married, Filing Together</option>
</select> <br><br>
Salary <input type="text" value="0" class="calculate-form" id="salary"><br>
Capital Gains <input type="text" value="0" class="calculate-form" id="capital-gains"><br>
<h3 id="total_income"> </h3>
Traditional 401k <input type="text" value="0" class="calculate-form" id="trad-401k"><br>
HSA <input type="text" value="0" class="calculate-form" id="hsa"><br>
<h3 id="magi"> </h3>
Traditional IRA <input type="text" value="0" class="calculate-form" id="trad-ira"><br>
Student Loan Interest <input type="text" value="0" class="calculate-form" id="sli"><br>
<h3 id="agi"> </h3>
<!--Standard Deduction <input type="text" value="0" class="calculate-form" id="standard-deduction"><br>-->
Medical Expenses <input type="text" value="0" class="calculate-form" id="medical-expenses"><br>
SALT <input type="text" value="0" class="calculate-form" id="salt"><br>
Mortgage Interest <input type="text" value="0" class="calculate-form" id="mortgage-interest"><br>
<h3 id="final_deduction"> </h3>
<h3 id="taxable_income"> </h3>
Shares Exercised <input type="text" value="0" class="calculate-form" id="shares-exercised"><br>
Strike Price <input type="text" value="0" class="calculate-form" id="strike-price"><br>
Fair Market Value <input type="text" value="0" class="calculate-form" id="fmv"><br>
<h3 id="iso_spread_subtotal"> </h3>
<h3 id="amti"> </h3>
<h3 id="amt_deduction"> </h3>
<h3 id="amti_final"> </h3>
<h3 id="amt_tax_owed"> </h3>

<button onclick="calculate_taxes()"> Calculate </button>

<script>
    function calculate_taxes() {
    var filing_status_obj = document.getElementById("filing_status");
    var filing_status = filing_status_obj.options[filing_status_obj.selectedIndex].value;
    
    if (filing_status == 'single') {
      var amt_deduction=72900;
      var amt_phase = 518400;
      var amt_tax_brackets = 197900;
      var standard_deduction=12400;
      var salt_deduction_max = 10000;
      var sli_phase = 70000;
      var sli_max = 85000;
      var sli_divider = 15000;
 //LOOK INTO WHETHER SINGLE PEOPLE CAN HAVE A FAMILY HSA;     
      var hsa_limit = 3550;
    } else if (filing_status == 'married_separately') {
      var amt_deduction=56700;
      var amt_phase = 518400;
      var amt_tax_brackets = 98950;
      var standard_deduction=12400;
      var salt_deduction_max = 5000;
      var sli_phase = 0;
      var sli_max = 0;
      var sli_divider = 0;
      var hsa_limit = 7100;
    } else if (filing_status == 'married') {
      var amt_deduction=113400;
      var amt_phase = 1036800;
      var amt_tax_brackets = 197900;
      var standard_deduction=24800;
      var salt_deduction_max = 10000;
      var sli_phase = 140000;
      var sli_max = 170000;
      var sli_divider = 30000;
      var hsa_limit = 7100;
    }

    var salary=document.getElementById("salary").value;
    var capital_gains=document.getElementById("capital-gains").value;
    var trad_401k=document.getElementById("trad-401k").value;
    var hsa=document.getElementById("hsa").value;
    var trad_ira=document.getElementById("trad-ira").value;
    var sli=document.getElementById("sli").value;
    var medical_expenses=document.getElementById("medical-expenses").value;
    var salt=document.getElementById("salt").value;
    var mortgage_interest=document.getElementById("mortgage-interest").value;
    var shares_exercised=document.getElementById("shares-exercised").value;
    var strike_price=document.getElementById("strike-price").value;
    var fmv=document.getElementById("fmv").value;
    var salary=document.getElementById("salary").value;
    
    if (salt > salt_deduction_max) {
      salt = salt_deduction_max;
    }

    var total_income = parseFloat(salary) + parseFloat(capital_gains);
    
    // HSA Limitation
    if (hsa > hsa_limit) {
      hsa = hsa_limit;
    }

    // MAGI - AGI but includes Trad IRA, SLI
    var magi = total_income - parseFloat(trad_401k) - parseFloat(hsa);

    if (magi > sli_max) {
      sli = 0;
    } else if (magi > sli_phase) {
      var sli_multiplier = (magi - sli_phase) / sli_divider;
      if (sli_multiplier > 1) {
        sli_multiplier = 1;
      } else if (sli_multiplier < 0) {
        sli_multiplier = 0;
      } else {
        sli_multiplier = sli_multiplier.toFixed(3);
      }
      
      sli_correction = parseFloat(sli) * parseFloat(sli_multiplier);
      sli = sli - parseFloat(sli_correction);
      sli = sli.toFixed(2);
    } 

    // Calculate AGI
    var agi = total_income - parseFloat(trad_401k) - parseFloat(hsa) - parseFloat(trad_ira) - parseFloat(sli);
    
    // Medical Expenses Deduction - only include if more than 10% of AGI, else 0
    if (medical_expenses > (agi * 0.1)) {
      medical_expenses = medical_expenses - (agi * 0.1);
    } else {
      medical_expenses = 0;
    }
    
    // Standard vs Itemized Deduction
    var itemized_deduction = parseFloat(medical_expenses) + parseFloat(salt) + parseFloat(mortgage_interest) + parseFloat(sli);
    if (itemized_deduction > standard_deduction) {
      var regular_deduction_final = itemized_deduction;
      var deduction_category = 'Itemized Deduction';
    } else {
      var regular_deduction_final = standard_deduction;
      var deduction_category = 'Standard Deduction';
    }

    // Calculate Regular taxable income
    var taxable_income = agi - regular_deduction_final;
    
    // CALCULATE REGULAR TAXES

    // Calculate ISO Spread
    var iso_spread_subtotal = parseFloat(shares_exercised) * (parseFloat(fmv) - parseFloat(strike_price));
    // Calculate AMTI (before AMT deduction)
    if (deduction_category == 'Standard Deduction') {
      var amti = taxable_income + iso_spread_subtotal + standard_deduction;
    } else {
      var amti = taxable_income + iso_spread_subtotal + parseFloat(salt) + parseFloat(medical_expenses);

    }
    // AMT Deduction Calculation, including Phase Out
    if (amti > amt_phase) {
      amt_deduction = amt_deduction - (0.25 * (amti - amt_phase))
    }
    if (amt_deduction < 0) {
      amt_deduction = 0
    }
    var amti_final = amti - parseFloat(amt_deduction);
    
    // Caculate AMT Tax, including Brackets
    if (amti_final > amt_tax_brackets) {
      var amt_tax_owed = ((amti_final - amt_tax_brackets) * 0.28) + (amt_tax_brackets * 0.26);
    } else {
      var amt_tax_owed = amti_final * 0.26;
    }
    
    // AMT CREDIT?
    // DEPENDENT CREDIT?

    //if (!isNaN(agi)) {
        document.getElementById("total_income").innerHTML="Total Income is " + total_income;
        document.getElementById("magi").innerHTML="MAGI is " + magi;
        document.getElementById("agi").innerHTML="AGI is " + agi;
        document.getElementById("final_deduction").innerHTML="You took the " + deduction_category + " and your deduction is " + regular_deduction_final;
        document.getElementById("taxable_income").innerHTML="Taxable Income is " + taxable_income;
        document.getElementById("iso_spread_subtotal").innerHTML="ISO Spread is " + iso_spread_subtotal;
        document.getElementById("amti").innerHTML="AMT Taxable Income is " + amti;
        document.getElementById("amt_deduction").innerHTML="Your AMT deduction is " + amt_deduction;
        document.getElementById("amti_final").innerHTML="Final AMT Taxable Income is " + amti_final;
        document.getElementById("amt_tax_owed").innerHTML="AMT tax owed is " + amt_tax_owed;

    //}
    }
</script>