<form>  
  <div class="main">
      <div class="container">
          <form method="POST" class="calculator-form">
              <h3> Input the below details to calculate your AMT liability </h3>
              <br>
              <div class="form-row">
                  <div class="form-group">
                      <h4 class="form-header"> Basic Information </h4>
                      <div class="form-select">
                          <div class="label-flex">
                              <label for="filing_status" class="required">Choose your filing status</label>
                          </div>
                          <div class="select-list">
                              <select name="filing_status" id="filing_status">
                                  <option value="single">Single</option>
                                  <option value="married_separately">Married, Filing Separately</option>
                                  <option value="married">Married, Filing Together</option>
                              </select>
                          </div>
                          <div class="label-flex">
                              <label for="filing_year" class="required">What year are you filing for? </label>
                          </div>
                          <div class="select-list">
                              <select name="filing_year" id="filing_year">
                                  <option value="2020">2020</option>
                                  <option value="2021">2021</option>
                              </select>
                          </div>
                      </div>
                      <h4 class="form-header"> Income </h4>
                      <div class="form-input">
                          <label for="salary" class="required">Gross Wages</label>
                          <input type="number" name="salary" id="salary" class="required_field" placeholder="0" onchange=check_min(this)>
                          <p class="calculator_validation_p calculator_minimum_p" id="salary_p"></p>
                      </div>
                      <div class="form-input">
                          <div class="label-flex">
                            <label for="short_term_capital_gains">Short Term Capital Gains</label>
                            <!--<a href="#" class="form-link learn_more_form_link">Learn More</a>-->
                          </div>
                          <input type="number" name="short_term_capital_gains" id="short_term_capital_gains" placeholder="0" />
                      </div>
                      <div class="form-input">
                          <div class="label-flex">
                            <label for="long_term_capital_gains">Long Term Capital Gains</label>
                            <!--<a href="#" class="form-link learn_more_form_link">Learn More</a>-->
                          </div>
                          <input type="number" name="long_term_capital_gains" id="long_term_capital_gains"  placeholder="0" />
                      </div>
                  </div>

                  <div class="form-group">
                      <h4 class="form-header"> Deductions / Exemptions </h4>
                      <div class="form-input">
                          <label for="health_insurance_premium">Medical/Vision Insurance Premiums</label>
                          <input type="number" name="health_insurance_premium" id="health_insurance_premium" placeholder="0" onchange=check_min(this)>
                          <p class="calculator_minimum_p" id="health_insurance_premium_p"></p>
                      </div>
                      <div class="form-input">
                          <label for="trad_401k">Traditional 401k Contributions</label>
                          <input type="number" name="trad_401k" id="trad_401k" placeholder="0" onchange=check_min(this)>
                          <p class="calculator_validation_p calculator_minimum_p" id="trad_401k_p"></p>
                      </div>
                      <div class="form-input">
                          <label for="trad_ira">Traditional IRA Contributions</label>
                          <input type="number" name="trad_ira" id="trad_ira" placeholder="0" onchange=check_min(this)>
                          <p class="calculator_validation_p calculator_minimum_p" id="trad_ira_p"></p>
                      </div>
                      <div class="form-input">
                          <label for="hsa">HSA Contributions</label>
                          <input type="number" name="hsa" id="hsa" placeholder="0" onchange=check_min(this)>
                          <p class="calculator_validation_p calculator_minimum_p" id="hsa_p"></p>
                      </div>
                      
                      <div class="form-input">
                          <div class="label-flex">
                              <label for="sli">Student Loan Interest Paid</label>
                              <a href="/articles/what-is-student-load-interest-sli-deduction/" class="form-link learn_more_form_link">Learn More</a>
                          </div>  
                          <input type="number" name="sli" id="sli" placeholder="0" onchange=check_min(this)>
                          <p class="calculator_validation_p calculator_minimum_p" id="sli_p"></p>
                      </div>
                      <div class="form-input">
                          <div class="label-flex">
                              <label for="medical_expenses">Medical Expenses</label>
                              <a href="/articles/what-is-the-medical-expense-deduction" class="form-link learn_more_form_link">Learn More</a>
                          </div> 
                          <input type="number" name="medical_expenses" id="medical_expenses" placeholder="0" onchange=check_min(this)>
                          <p class="calculator_validation_p calculator_minimum_p" id="medical_expenses_p"></p>
                      </div>
                      <div class="form-input">
                          <div class="label-flex">
                              <label for="salt">State and Local Tax (SALT)</label>
                              <a href="/articles/what-is-the-state-and-local-tax-salt-deduction/" class="form-link learn_more_form_link">Learn More</a>
                          </div> 
                          <input type="number" name="salt" id="salt" placeholder="0" onchange=check_min(this)>
                          <p class="calculator_validation_p calculator_minimum_p" id="salt_p"></p>
                      </div>
                      <div class="form-input">
                          <div class="label-flex">
                              <label for="mortgage_interest">Mortgage Interest Paid</label>
                              <a href="/articles/what-is-the-mortgage-interest-deduction/" class="form-link learn_more_form_link">Learn More</a>
                          </div> 
                          <input type="number" name="mortgage_interest" id="mortgage_interest" placeholder="0" onchange=check_min(this)>
                          <p class="calculator_validation_p calculator_minimum_p" id="mortgage_interest_p"></p>
                      </div>
                  </div>

                  <div class="form-group">
                      <h4 class="form-header"> ISO Grant Details </h4>
                      <div class="form-radio">
                          <div class="label-flex">
                              <label for="iso_forms_count" class="required">How many ISO grants did you exercise from?</label>
                              <a href="/articles/incentive-stock-option-iso-basics/" class="form-link learn_more_form_link">Learn More</a>
                          </div>
                          <div class="form-radio-group">            
                              <div class="form-radio-item">
                                  <input type="radio" name="iso_forms_count" id="iso_forms_count_one" value="iso_forms_count_one"checked>
                                  <label for="iso_forms_count_one">1</label>
                                  <span class="check"></span>
                              </div>
                              <div class="form-radio-item">
                                  <input type="radio" name="iso_forms_count" id="iso_forms_count_two" value="iso_forms_count_two">
                                  <label for="iso_forms_count_two">2</label>
                                  <span class="check"></span>
                              </div>
                              <div class="form-radio-item">
                                  <input type="radio" name="iso_forms_count" id="iso_forms_count_three" value="iso_forms_count_three">
                                  <label for="iso_forms_count_three">3</label>
                                  <span class="check"></span>
                              </div>
                          </div>
                      </div>
                      <div id="iso_form_container">
                        <div id="iso_form_one">
                          <h4 class="iso_form_header"> Grant #1 </h4>
                          <div class="form-input">
                                <label for="shares_exercised_one" class="required">Shares Exercised</label>
                                <input type="number" name="shares_exercised_one" id="shares_exercised_one" class="required_field" placeholder="0" onchange=check_min(this) />
                                <p class="calculator_validation_p calculator_minimum_p" id="shares_exercised_one_p"></p>
                          </div>
                          <div class="form-input">
                                <label for="strike_price_one" class="required">Strike Price</label>
                                <input type="number" name="strike_price_one" id="strike_price_one" class="required_field" placeholder="0" onchange=check_min(this) />
                                <p class="calculator_validation_p calculator_minimum_p" id="strike_price_one_p"></p>
                          </div>
                          <div class="form-input">
                                <label for="fmv_one" class="required">Fair Market Value (FMV)</label>
                                <input type="number" name="fmv_one" id="fmv_one" class="required_field" placeholder="0" onchange=check_min(this) />
                                <p class="calculator_validation_p calculator_minimum_p" id="fmv_one_p"></p>
                          </div>
                        </div>
                        <div id="iso_form_two">
                          <h4 class="iso_form_header"> Grant #2 </h4>
                          <div class="form-input">
                                <label for="shares_exercised_two" class="required">Shares Exercised</label>
                                <input type="number" name="shares_exercised_two" id="shares_exercised_two" placeholder="0" onchange=check_min(this) />
                                <p class="calculator_validation_p calculator_minimum_p" id="shares_exercised_two_p"></p>
                          </div>
                          <div class="form-input">
                                <label for="strike_price_two" class="required">Strike Price</label>
                                <input type="number" name="strike_price_two" id="strike_price_two" placeholder="0" onchange=check_min(this) />
                                <p class="calculator_validation_p calculator_minimum_p" id="strike_price_two_p"></p>
                          </div>
                          <div class="form-input">
                                <label for="fmv_two" class="required">Fair Market Value (FMV)</label>
                                <input type="number" name="fmv_two" id="fmv_two" placeholder="0" onchange=check_min(this) />
                                <p class="calculator_validation_p calculator_minimum_p" id="fmv_two_p"></p>
                          </div>
                        </div>
                        <div id="iso_form_three">
                          <h4 class="iso_form_header"> Grant #3 </h4>
                          <div class="form-input">
                                <label for="shares_exercised_three" class="required">Shares Exercised</label>
                                <input type="number" name="shares_exercised_three" id="shares_exercised_three" placeholder="0" onchange=check_min(this) />
                                <p class="calculator_validation_p calculator_minimum_p" id="shares_exercised_three_p"></p>
                          </div>
                          <div class="form-input">
                                <label for="strike_price_three" class="required">Strike Price</label>
                                <input type="number" name="strike_price_three" id="strike_price_three" placeholder="0" onchange=check_min(this) />
                                <p class="calculator_validation_p calculator_minimum_p" id="strike_price_three_p"></p>
                          </div>
                          <div class="form-input">
                                <label for="fmv_three" class="required">Fair Market Value (FMV)</label>
                                <input type="number" name="fmv_three" id="fmv_three" placeholder="0" onchange=check_min(this) />
                                <p class="calculator_validation_p calculator_minimum_p" id="fmv_three_p"></p>
                        </div>
                      </div>
                  </div>

              </div>
          </form>
      </div>
  </div>  

  <input type="button" class="calculator_submit" id="amt_calculator_submit" onclick=check_required() value="Calculate my AMT!">
</form>
<br>
<h4 id="amt_calculator_result_message" class="result-header"> Results: </h4>
<br>
<button type="button" class="collapsible active" id="overall_tax_results_collapsible">See Overall Tax Results</button>
<table class="table table-bordered table-hover" id="overall_tax_results_table"><thead>
    <tr>
      <th>Tax System</th>
      <th>Tax Owed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Regular Income Tax</td>
      <td id="regular_income_tax_owed_td"></td>
    </tr>
    <tr>
      <td>Alternative Minimum Tax</td>
      <td id="final_amt_tax_owed_td"></td>
    </tr>
  </tbody>
</table>

<!--<h4> <a href="https://www.jdoqocy.com/b3111p-85-7NPOORQPRUWNPQROUPWW" class="link_to_ad freetaxusa_amt_calc_ad" target="_blank"> Now that you have calculated your AMT, file your taxes <strong>for free</strong> with FreeTaxUSA! </a></h4>
<h4>Seriously, stop paying to file your taxes. It's supposed to be something you can do at no cost. FreeTaxUSA is one of the oldest and most trusted services that millions of Americans use every year!</h4>-->

<a href="/filing_taxes/how_to_file_taxes_for_amt"><h4> Next Step: Learn how to actually file your taxes in 3 easy steps</h4></a>
<br>
<a href="https://credit-karma-tax.pxf.io/amtsimplified" class="link_to_ad ck_amt_calc_ad">
  <h4>Or file completely for FREE with Credit Karma, the software I personally use</h4>
  <img src="/img/credit_karma_logo.png"/>
</a>

<br>
<button type="button" class="collapsible" id="regular_income_tax_results_collapsible">See Regular Income Tax Breakdown</button>
<table class="table table-bordered table-hover" id="regular_income_tax_results_table"><thead>
    <tr>
      <th>Regular Income Tax Breakdown</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Income (Wages & Net Capital Gains)</td>
      <td id="reg_table_total_income_td"></td>
    </tr>
    <tr>
      <td>Net Long Term Capital Gains Only</td>
      <td id="reg_table_long_term_capital_gains_td"></td>
    </tr>
    <tr class="table_divider">
      <td>Capital Loss Carryforward (to next year)</td>
      <td id="reg_table_leftover_capital_loss_carryover_td"></td>
    </tr>
    <tr class="table_divider">
      <td>Total Exemptions / Above the Line Deductions</td>
      <td id="reg_table_total_exemptions_td"></td>
    </tr>
    <tr>
      <td>Adjusted Gross Income (AGI)</td>
      <td id="reg_table_agi_td"></td>
    </tr>
    <tr class="table_divider">
      <td>Modified Adjusted Gross Income (MAGI)</td>
      <td id="reg_table_magi_td"></td>
    </tr>
    <tr>
      <td>Deduction Category</td>
      <td id="reg_table_deduction_category_td"></td>
    </tr>
    <tr class="table_divider">
      <td>Total Deductions</td>
      <td id="reg_table_final_deduction_td"></td>
    </tr>
    <tr class="table_divider">
      <td>Taxable Income</td>
      <td id="reg_table_taxable_income_td"></td>
    </tr>
    <tr>
      <td>Federal Income Tax</td>
      <td id="reg_table_federal_income_tax_owed_td"></td>
    </tr>
    <tr>
      <td>FICA: Social Security Tax</td>
      <td id="reg_table_ssi_tax_owed_td"></td>
    </tr>
    <tr>
      <td>FICA: Medicare Tax</td>
      <td id="reg_table_medicare_tax_owed_td"></td>
    </tr>
    <tr class="table_divider">
      <td>Long Term Capital Gains Tax</td>
      <td id="reg_table_long_term_capital_gains_tax_owed_td"></td>
    </tr>
    <tr>
      <td>Total Regular Income Taxes Owed</td>
      <td id="reg_table_regular_income_tax_owed_td"></td>
    </tr>
  </tbody>
</table>
<br>
<br>
<button type="button" class="collapsible" id="amt_tax_results_collapsible">See Alternative Minimum Tax Breakdown</button>
<table class="table table-bordered table-hover" id="amt_tax_results_table"><thead>
    <tr>
      <th>Alternative Minimum Tax Breakdown</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Income (Wages & Short Term Capital Gains Only)</td>
      <td id="amt_table_total_income_td"></td>
    </tr>
    <tr>
      <td>Net Long Term Capital Gains</td>
      <td id="amt_table_long_term_capital_gains_td"></td>
    </tr>
    <tr>
      <td>Capital Loss Carryforward (to next year)</td>
      <td id="amt_table_leftover_capital_loss_carryover_td"></td>
    </tr>
    <tr class="table_divider">
      <td>Total ISO Spread</td>
      <td id="amt_table_iso_spread_subtotal_td"></td>
    </tr>
    <tr>
      <td>Total Exemptions / Above the Line Deductions</td>
      <td id="amt_table_total_exemptions_td"></td>
    </tr>
    <tr class="table_divider">
      <td>Total AMT Eligible Deductions (No standard deduction, SALT, Medical Expenses)</td>
      <td id="amt_table_amt_eligible_deductions_td"></td>
    </tr>
    <tr>
      <td>Alternative Minimum Taxable Income (AMTI)</td>
      <td id="amt_table_amti_td"></td>
    </tr>
    <tr class="table_divider">
      <td>AMTI for Exemption Calculation (AMTI + Long Term Cap Gain)</td>
      <td id="amt_table_amti_for_exemption_td"></td>
    </tr>
    <tr class="table_divider">
      <td>AMT Exemption Amount</td>
      <td id="amt_table_amt_deduction_td"></td>
    </tr>
    <tr class="table_divider">
      <td>Final Alternative Minimum Taxable Income (FAMTI)</td>
      <td id="amt_table_amti_final_td"></td>
    </tr>
    <tr>
      <td>Alternative Minimum Tax</td>
      <td id="amt_table_amt_tax_owed_td"></td>
    </tr>
    <tr class="table_divider">
      <td>Long Term Capital Gains Tax</td>
      <td id="amt_table_long_term_capital_gains_tax_owed_td"></td>
    </tr>
    <tr>
      <td>Total Alternative Minimum Tax Owed</td>
      <td id="amt_table_final_amt_tax_owed_td"></td>
    </tr>
  </tbody>
</table>

<script>

  // Dyanmic forms for ISO Spread Details
  // Starts with 1 ISO Grant Form shown
  // Also clears the error / validation message after every change, and adds/removes required_field class for check_required
  // Also clears the results messages
  $(document).ready(function() {
    $('#iso_form_two').hide();
    $('#iso_form_three').hide();
    
    $('input[name=iso_forms_count').change(function(){
      if ($(this).val() == "iso_forms_count_one") {
        $('#iso_form_three').hide();
        $('#iso_form_two').hide();
        $('#iso_form_one').show();
        //$('.calculator_validation_iso_forms_p').text("");
        $('#shares_exercised_two').removeClass("required_field");
        $('#strike_price_two').removeClass("required_field");
        $('#fmv_two').removeClass("required_field");
        $('#shares_exercised_three').removeClass("required_field");
        $('#strike_price_three').removeClass("required_field");
        $('#fmv_three').removeClass("required_field");
        $('.result_header').text('');

      } else if ($(this).val() == "iso_forms_count_two") {
        $('#iso_form_three').hide();
        $('#iso_form_two').show();
        $('#iso_form_one').show();
        //$('.calculator_validation_iso_forms_p').text("");
        $('#shares_exercised_two').addClass("required_field");
        $('#strike_price_two').addClass("required_field");
        $('#fmv_two').addClass("required_field");
        $('#shares_exercised_three').removeClass("required_field");
        $('#strike_price_three').removeClass("required_field");
        $('#fmv_three').removeClass("required_field");
        $('.result_header').text('');

      } else if ($(this).val() == "iso_forms_count_three") {
        $('#iso_form_three').show();
        $('#iso_form_two').show();
        $('#iso_form_one').show();
        //$('.calculator_validation_iso_forms_p').text("");
        $('#shares_exercised_two').addClass("required_field");
        $('#strike_price_two').addClass("required_field");
        $('#fmv_two').addClass("required_field");
        $('#shares_exercised_three').addClass("required_field");
        $('#strike_price_three').addClass("required_field");
        $('#fmv_three').addClass("required_field");
        $('.result_header').text('');

      }
    })
  })

  function check_min(input) {
    var input_id = document.getElementById(input.id).id;
    var p_id = input_id.concat('_p');
    if (input.value < 0) {
      input.value = "";
      document.getElementById(p_id).innerHTML = "This number must not be negative";
    } else {
      document.getElementById(p_id).innerHTML = "";
    }
  }

  function check_required() {
    //First clear any residual 'number must not be negative' errors
    var minimum_p_array = document.getElementsByClassName("calculator_minimum_p");
    [].slice.call(minimum_p_array).forEach(function (p) {
      p.innerHTML = "";
    });

    // Then loop through each required_field input. If any is false, don't calulate_taxes
    var required_array = document.getElementsByClassName("required_field");
    var confirmation_array = [];
      
    for (i=0; i<required_array.length; i++) {
      if (required_array[i].value == "") {
        var p_id = required_array[i].id;
        p_id = p_id.concat('_p');
        document.getElementById(p_id).innerHTML = "This field is required";
        confirmation_array.push(false);
      } else {
        confirmation_array.push(true);
      }
    }
    var confirmation = confirmation_array.every(Boolean);
    if(confirmation) {
      calculate_taxes();
    }
  }

  var currency_formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD',
  });
  
  // Collapsible results table code
  var coll = document.getElementsByClassName("collapsible");
  var i;
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (this.classList.contains("active")) {
        content.style.display = "table";
      } else {
        content.style.display = "none";
      }
    });
  }

  function calculate_taxes() {

    // First clear any error / validation messages. Any further validation below will re-set them if needed
    var all_validation_messages = document.getElementsByClassName("calculator_validation_p");
    for (i=0;i<all_validation_messages.length;i++) {
      all_validation_messages[i].innerHTML = "";
    }

    // Get 'value' of filing status selected to use to set tax limitations by filing status
    var filing_status_obj = document.getElementById("filing_status");
    var filing_status = filing_status_obj.options[filing_status_obj.selectedIndex].value;
    
    var filing_year_obj = document.getElementById("filing_year");
    var filing_year = filing_year_obj.options[filing_year_obj.selectedIndex].value;
    
    if (filing_status == 'single') {
      if (filing_year == '2020') {
        var amt_deduction=72900;
        var amt_phase = 518400;
        var amt_tax_brackets = 197900;
        var standard_deduction=12400;
        var sli_phase = 70000;
        var sli_magi_max = 85000;
        // Basically for every dollar your MAGI is over the sli_phase, it reduces your deduction by some %
        var sli_divider = sli_magi_max - sli_phase;
        var sli_max = 2500;
        //LOOK INTO WHETHER SINGLE PEOPLE CAN HAVE A FAMILY HSA;     
        var trad_401k_limit = 19500;
        var hsa_limit = 3550;
        var trad_ira_limit = 6000;
        var salt_deduction_limit = 10000;
        var reg_income_tax_bracket = [0,9875,40125,85525,163300,207350,518400];
        var reg_income_tax_rate = [0.1,0.12,0.22,0.24,0.32,0.35,0.37];
        var long_term_capital_gain_tax_bracket = [0,40000,441450];
        var long_term_capital_gains_tax_owed_rate = [0,0.15,0.2];
        var additional_medicare_tax_threshold = 200000;
        var regular_medicare_tax_rate = 0.0145;
        var additional_medicare_tax_rate = 0.009;
        var ssi_income_limit = 137700;
        var ssi_tax_rate = 0.062
      }
      else if (filing_year == '2021') {
        var amt_deduction=73600;
        var amt_phase = 523600;
        var amt_tax_brackets = 199900;
        var standard_deduction=12550;
        var sli_phase = 70000;
        var sli_magi_max = 85000;
        // Basically for every dollar your MAGI is over the sli_phase, it reduces your deduction by some %
        var sli_divider = sli_magi_max - sli_phase;
        var sli_max = 2500;
        //LOOK INTO WHETHER SINGLE PEOPLE CAN HAVE A FAMILY HSA;     
        var trad_401k_limit = 19500;
        var hsa_limit = 3600;
        var trad_ira_limit = 6000;
        var salt_deduction_limit = 10000;
        var reg_income_tax_bracket = [0,9950,40525,86375,164925,209425,523600];
        var reg_income_tax_rate = [0.1,0.12,0.22,0.24,0.32,0.35,0.37];
        var long_term_capital_gain_tax_bracket = [0,40400,445850];
        var long_term_capital_gains_tax_owed_rate = [0,0.15,0.2];
        var additional_medicare_tax_threshold = 200000;
        var regular_medicare_tax_rate = 0.0145;
        var additional_medicare_tax_rate = 0.009;
        var ssi_income_limit = 142800;
        var ssi_tax_rate = 0.062
      }
    } else if (filing_status == 'married_separately') {
      if (filing_year == '2020') {
        var amt_deduction=56700;
        var amt_phase = 518400;
        var amt_tax_brackets = 98950;
        var standard_deduction=12400;
        // married filing separately cannot claim sli. go figure, see IRS website
        var sli_phase = 0;
        var sli_magi_max = 0;
        var sli_divider = sli_magi_max - sli_phase;
        var sli_max = 0;
        var trad_401k_limit = 19500;
        var hsa_limit = 7100;
        var trad_ira_limit = 6000;
        var salt_deduction_limit = 5000;
        var reg_income_tax_bracket = [0,9875,40125,85525,163300,207350,311025];
        var reg_income_tax_rate = [0.1,0.12,0.22,0.24,0.32,0.35,0.37];
        var long_term_capital_gain_tax_bracket = [0,40000,248300];
        var long_term_capital_gains_tax_owed_rate = [0,0.15,0.2];
        var additional_medicare_tax_threshold = 125000;
        var regular_medicare_tax_rate = 0.0145;
        var additional_medicare_tax_rate = 0.009;
        var ssi_income_limit = 137700;
        var ssi_tax_rate = 0.062
      } else if (filing_year == '2021') {
        var amt_deduction=57300;
        var amt_phase = 523600;
        var amt_tax_brackets = 99950;
        var standard_deduction=12550;
        // married filing separately cannot claim sli. go figure, see IRS website
        var sli_phase = 0;
        var sli_magi_max = 0;
        var sli_divider = sli_magi_max - sli_phase;
        var sli_max = 0;
        var trad_401k_limit = 19500;
        var hsa_limit = 7200;
        var trad_ira_limit = 6000;
        var salt_deduction_limit = 5000;
        var reg_income_tax_bracket = [0,9950,40525,86375,164925,209425,523600];
        var reg_income_tax_rate = [0.1,0.12,0.22,0.24,0.32,0.35,0.37];
        var long_term_capital_gain_tax_bracket = [0,40400,250800];
        var long_term_capital_gains_tax_owed_rate = [0,0.15,0.2];
        var additional_medicare_tax_threshold = 125000;
        var regular_medicare_tax_rate = 0.0145;
        var additional_medicare_tax_rate = 0.009;
        var ssi_income_limit = 142800;
        var ssi_tax_rate = 0.062
      }

    } else if (filing_status == 'married') {
        if (filing_year == '2020') {
          var amt_deduction=113400;
          var amt_phase = 1036800;
          var amt_tax_brackets = 197900;
          var standard_deduction=24800;
          var sli_phase = 140000;
          var sli_magi_max = 170000;
          // Basically for every dollar your MAGI is over the sli_phase, it reduces your deduction by some %
          var sli_divider = sli_magi_max - sli_phase;
          var sli_max = 2500;
          var trad_401k_limit = 39000;
          var hsa_limit = 7100;
          var trad_ira_limit = 12000;
          var salt_deduction_limit = 10000;
          var reg_income_tax_bracket = [0,19750,80250,171050,326600,414700,622050];
          var reg_income_tax_rate = [0.1,0.12,0.22,0.24,0.32,0.35,0.37];
          var long_term_capital_gain_tax_bracket = [0,80000,496600];
          var long_term_capital_gains_tax_owed_rate = [0,0.15,0.2];
          var additional_medicare_tax_threshold = 250000;
          var regular_medicare_tax_rate = 0.0145;
          var additional_medicare_tax_rate = 0.009;
          // LOOK INTO IF SSI LIMIT IS DOUBLE FORMARRIED. I COULDNT FINDANYWHERE
          var ssi_income_limit = 275400;
          var ssi_tax_rate = 0.062
        } else if (filing_year == '2021') {
          var amt_deduction=114600;
          var amt_phase = 1047200;
          var amt_tax_brackets = 199900;
          var standard_deduction=25100;
          var sli_phase = 140000;
          var sli_magi_max = 170000;
          // Basically for every dollar your MAGI is over the sli_phase, it reduces your deduction by some %
          var sli_divider = sli_magi_max - sli_phase;
          // sli max is 2500 per tax return (so married only cap at 2500 per thestreet.com)
          var sli_max = 2500;
          var trad_401k_limit = 39000;
          var hsa_limit = 7200;
          var trad_ira_limit = 12000;
          var salt_deduction_limit = 10000;
          var reg_income_tax_bracket = [0,19900,81050,172750,329850,418850,628300];
          var reg_income_tax_rate = [0.1,0.12,0.22,0.24,0.32,0.35,0.37];
          var long_term_capital_gain_tax_bracket = [0,80800,501600];
          var long_term_capital_gains_tax_owed_rate = [0,0.15,0.2];
          var additional_medicare_tax_threshold = 250000;
          var regular_medicare_tax_rate = 0.0145;
          var additional_medicare_tax_rate = 0.009;
          // LOOK INTO IF SSI LIMIT IS DOUBLE FORMARRIED. I COULDNT FINDANYWHERE
          var ssi_income_limit = 285600;
          var ssi_tax_rate = 0.062          
        }
    }

    function empty_to_zero(num) {
      if (num.length == 0) num = 0;
      return num;
    }

    // Get all form inputs. For all null / empty inputs, assign value of 0
    var salary=empty_to_zero(document.getElementById("salary").value);
    var short_term_capital_gains=empty_to_zero(document.getElementById("short_term_capital_gains").value);
    var long_term_capital_gains=empty_to_zero(document.getElementById("long_term_capital_gains").value);
    var health_insurance_premium = empty_to_zero(document.getElementById("health_insurance_premium").value);
    var trad_401k=empty_to_zero(document.getElementById("trad_401k").value);
    var hsa=empty_to_zero(document.getElementById("hsa").value);
    var trad_ira=empty_to_zero(document.getElementById("trad_ira").value);
    var sli=empty_to_zero(document.getElementById("sli").value);
    var medical_expenses=empty_to_zero(document.getElementById("medical_expenses").value);
    var salt=empty_to_zero(document.getElementById("salt").value);
    var mortgage_interest=empty_to_zero(document.getElementById("mortgage_interest").value);

    var shares_exercised_1=empty_to_zero(document.getElementById("shares_exercised_one").value);
    var strike_price_1=empty_to_zero(document.getElementById("strike_price_one").value);
    var fmv_1=empty_to_zero(document.getElementById("fmv_one").value);
    var shares_exercised_2=empty_to_zero(document.getElementById("shares_exercised_two").value);
    var strike_price_2=empty_to_zero(document.getElementById("strike_price_two").value);
    var fmv_2=empty_to_zero(document.getElementById("fmv_two").value);
    var shares_exercised_3=empty_to_zero(document.getElementById("shares_exercised_three").value);
    var strike_price_3=empty_to_zero(document.getElementById("strike_price_three").value);
    var fmv_3=empty_to_zero(document.getElementById("fmv_three").value);
    
    //Get value of which radio input ISO # was selected 
    var iso_form_count_obj = document.getElementsByName("iso_forms_count");
    for (var i=0, length=iso_form_count_obj.length; i < length; i++)
      {
        if(iso_form_count_obj[i].checked) {
          var iso_form_count = iso_form_count_obj[i].value;
          break;
        }
      }

    // Does some validation based on the number of ISO Grants selected when user hits 'Calculate'. 
    // Zeroes out any inputs from extra forms that were hidden
    if (iso_form_count == "iso_forms_count_one") {
      shares_exercised_2 = strike_price_2 = fmv_2 = shares_exercised_3 = strike_price_3 = fmv_3 = 0;
    } else if (iso_form_count == "iso_forms_count_two") {
      shares_exercised_3 = strike_price_3 = fmv_3 = 0;
    }

    salary = parseFloat(salary);
    short_term_capital_gains = parseFloat(short_term_capital_gains);
    long_term_capital_gains = parseFloat(long_term_capital_gains);
    health_insurance_premium = parseFloat(health_insurance_premium);

    // Calculate Total Income
    var total_income = salary + short_term_capital_gains + long_term_capital_gains;
    
    // Make sure number is under 401k limit
    if (trad_401k > trad_401k_limit) {
      trad_401k = trad_401k_limit;
      document.getElementById("trad_401k").value = trad_401k_limit;
      document.getElementById('trad_401k_p').innerHTML = "The 401k limit for your filing status is: " + trad_401k_limit;
    }
    
    // Make sure number is under HSA limit
    if (hsa > hsa_limit) {
      hsa = hsa_limit;
      document.getElementById("hsa").value = hsa_limit;
      document.getElementById('hsa_p').innerHTML = "The HSA limit for your filing status is: " + hsa_limit;
    }

    //Make sure number is under Trad IRA limit
    if (trad_ira > trad_ira_limit) {
      trad_ira = trad_ira_limit;
      document.getElementById("trad_ira").value = trad_ira_limit;
      document.getElementById('trad_ira_p').innerHTML = "The IRA limit for your filing status is: " + trad_ira_limit;
    }

    // MAGI: AGI but includes Trad IRA, SLI
    var magi = total_income - health_insurance_premium - parseFloat(trad_401k) - parseFloat(hsa);

    // Married, Filing Separately cannot take the Student Loan Interest Deduction. Go Figure
    if (filing_status == 'married_separately') {
      document.getElementById("sli").value = 0;
      document.getElementById('sli_p').innerHTML = "You cannot take the student loan interest deduction as 'Married, Filing Separately'";
    }
    if (parseFloat(sli) > sli_max && filing_status != 'married_separately') {
      document.getElementById("sli").value = sli_max;
      document.getElementById('sli_p').innerHTML = "The SLI limit for your filing status is " + sli_max;
    }
    
    // Calculate SLI - based on MAGI
    if (magi > sli_magi_max) {
      sli = 0;
    } else if (magi > sli_phase) {
      var sli_multiplier = (magi - sli_phase) / sli_divider;
      if (sli_multiplier > 1) {
        sli_multiplier = 1;
      } else if (sli_multiplier < 0) {
        sli_multiplier = 0;
      } else {
        sli_multiplier = sli_multiplier.toFixed(3);
      }
      
      sli_correction = parseFloat(sli) * parseFloat(sli_multiplier);
      sli = sli - parseFloat(sli_correction);
      sli = sli.toFixed(2);
    } 

    var total_exemptions = parseFloat(trad_401k) + parseFloat(trad_ira) + parseFloat(hsa) + parseFloat(sli) + health_insurance_premium;

    // Calculate AGI
    var agi = total_income - total_exemptions;
    
    // Medical Expenses Deduction - only include if more than 10% of AGI, else 0
    if (medical_expenses > (agi * 0.1)) {
      medical_expenses = medical_expenses - (agi * 0.1);
    } else {
      medical_expenses = 0;
    }
    
    //Make sure SALT is under SALT limit
    if (salt > salt_deduction_limit) {
      salt = salt_deduction_limit;
      document.getElementById("salt").value = salt_deduction_limit;
      document.getElementById('salt_p').innerHTML = "The SALT limit for your filing status is: " + salt_deduction_limit;
    }

    // Standard vs Itemized Deduction
    var itemized_deduction = parseFloat(medical_expenses) + parseFloat(salt) + parseFloat(mortgage_interest);

    if (itemized_deduction > standard_deduction) {
      var regular_deduction_final = itemized_deduction;
      var deduction_category = 'Itemized Deduction';
    } else {
      var regular_deduction_final = standard_deduction;
      var deduction_category = 'Standard Deduction';
    }

    /* Now that you've calculated MAGI and AGI, calculate if your capital gains are long term or short term, and positive or negative
    And use this to calculate your TAXABLE_INCOME
    shorthand chart below to depict the scenarios
    s / l
    + / + = +
    - / - = -
    b+ / - = +
    b- / + = -
    - / b+ = +
    + / b- = -
    */

    var taxable_income = 0;
    var sum_capital_gains = short_term_capital_gains + long_term_capital_gains;
    var long_term_capital_gains_for_calc = 0;

    // If the net capital gain for the year is positive
    if (sum_capital_gains > 0) {
      // If both are positive, do not use the sum of the two. Only use the short term cap gain number to calculate taxable income. Use the long term number for long term tax
      if (short_term_capital_gains >= 0 && long_term_capital_gains >= 0) {
        taxable_income = salary + short_term_capital_gains - total_exemptions - regular_deduction_final;
        long_term_capital_gains_for_calc = long_term_capital_gains;

      // If short is positive, and long is negative, use the net sum capital gain (as that remaining number is all short term gain). Long term gain is 0 for tax purposes
      } else if (short_term_capital_gains > 0 && long_term_capital_gains < 0) {
        taxable_income = salary + sum_capital_gains - total_exemptions - regular_deduction_final;

      // If long is positive, and short is negative, do not use the net sum capital gain (as that number is all long term). assign to long_term_capital_gains_for_calc
      } else if (short_term_capital_gains < 0 && long_term_capital_gains > 0) {
        taxable_income = salary - total_exemptions - regular_deduction_final;
        long_term_capital_gains_for_calc = sum_capital_gains;
      }

    // If the net capital gain for the year is negative
    } else if (sum_capital_gains < 0) {
      // If both are negative, you can only use at max 3000 to deduct for this year, and if it is not less than -3000, use sum_capital_gains. keep long_term_capital_gains_for_calc at 0
      var neg_sum_capital_gains = sum_capital_gains;
      var leftover_capital_loss_carryover = 0;
      if (sum_capital_gains < -3000) {
        neg_sum_capital_gains = -3000;
        leftover_capital_loss_carryover = (sum_capital_gains + 3000) * -1;
      }
      taxable_income = salary + neg_sum_capital_gains - total_exemptions - regular_deduction_final;

    // If the net capital gain happens to zero out, just disregard it. keep long_term_for_calc at 0
    } else if (sum_capital_gains == 0) {
      taxable_income = salary - total_exemptions - regular_deduction_final;
      leftover_capital_loss_carryover = 0;
    }

    // In case where deduction brings you to negative taxable income, your taxable income is 0
    taxable_income = taxable_income < 0 ? 0 : taxable_income;
    

    // Calculate Long Term Capital Gains tax (used in regular tax system and AMT system)
    var long_term_tax_index = 0;
    if(taxable_income > long_term_capital_gain_tax_bracket[long_term_capital_gain_tax_bracket.length - 1]) {
      long_term_tax_index = long_term_capital_gain_tax_bracket.length - 1;
    } else {
      long_term_tax_index = long_term_capital_gain_tax_bracket.findIndex(function(number) {
        return number > taxable_income;
      }) - 1;
    }
    var long_term_capital_gains_tax_owed = long_term_capital_gains_for_calc * long_term_capital_gains_tax_owed_rate[long_term_tax_index];


    // CALCULATE REGULAR TAXES
    // Returns index of first tax bracket threshold greater than taxable_income, so subtract 1 (Javascript arrays first elemnt is index 0)
    var taxable_income_index = 0;
    if(taxable_income > reg_income_tax_bracket[reg_income_tax_bracket.length - 1]) {
      taxable_income_index = reg_income_tax_bracket.length - 1;
    } else {
      taxable_income_index = reg_income_tax_bracket.findIndex(function(number) {
        return number > taxable_income;
      }) - 1;
    }
    
    var federal_income_tax_owed = 0;
    for (var i = taxable_income_index; i >= 0; i--) {
        if (i == taxable_income_index) {
            federal_income_tax_owed += reg_income_tax_rate[i] * (taxable_income - reg_income_tax_bracket[i]);
        } else {
            federal_income_tax_owed += reg_income_tax_rate[i] * (reg_income_tax_bracket[i+1] - reg_income_tax_bracket[i]);
        }
    }

    // Calculate Medicare Tax
    var medicare_tax_owed = 0;
    var medicare_taxable_income = salary - health_insurance_premium - parseFloat(hsa);
    // If your medicare taxable income exceeds the limit, multiply the additional amount by the additional rate, and the remaining (which should just be the threshold) by the regular rate
    if (medicare_taxable_income > additional_medicare_tax_threshold) {
      medicare_tax_owed = (medicare_taxable_income - additional_medicare_tax_threshold) * additional_medicare_tax_rate + (additional_medicare_tax_threshold * regular_medicare_tax_rate);
    } else {
      medicare_tax_owed = medicare_taxable_income * regular_medicare_tax_rate;
    }

    // Calculate Social Security Tax
    var ssi_tax_owed = 0;
    if (salary > ssi_income_limit) {
      ssi_tax_owed = ssi_income_limit * ssi_tax_rate;
    } else {
      ssi_tax_owed = salary * ssi_tax_rate;
    }
    
    // Calculate Total Regular Income Tax (Federal Income Tax, Medicare, SSI, Long Term)
    var regular_income_tax_owed = 0;
    regular_income_tax_owed = federal_income_tax_owed + medicare_tax_owed + ssi_tax_owed + long_term_capital_gains_tax_owed;

    // Calculate ISO Spread
    var iso_spread_subtotal_1 = parseFloat(shares_exercised_1) * (parseFloat(fmv_1) - parseFloat(strike_price_1));
    var iso_spread_subtotal_2 = parseFloat(shares_exercised_2) * (parseFloat(fmv_2) - parseFloat(strike_price_2));
    var iso_spread_subtotal_3 = parseFloat(shares_exercised_3) * (parseFloat(fmv_3) - parseFloat(strike_price_3));
    var iso_spread_subtotal = iso_spread_subtotal_1 + iso_spread_subtotal_2 + iso_spread_subtotal_3;
    
    // Calculate AMTI (before AMT exemption)
    // To calculate the exemption amount, you must include long term capital gains (as part of AGI)
    // However, to calculate your actual AMTI, you do not include long term capital gains
    var amt_eligible_deductions = parseFloat(mortgage_interest);
    var amti_for_exemption = agi + iso_spread_subtotal - amt_eligible_deductions;

    // If the resulting AMTI_for_exemption, for whatever reason, is less than zero, set it to zero
    amti_for_exemption = amti_for_exemption < 0 ? 0 : amti_for_exemption;

    // Now we calculate your AMTI
    // AMTI is the same as AMTI_for_exemption except it doesn't include long term cap gains. 
    // So we subtract 'lon' as that value is 0 if your net sum long_term_capital_gains_for_calc negative, or positive but all short term. So basically if it's > 0 that means you had long term gains which we want to exclude from AMTI
    var amti = agi - long_term_capital_gains_for_calc + iso_spread_subtotal - amt_eligible_deductions;

    // If the resulting AMTI_for_exemption, for whatever reason, is less than zero, set it to zero
    amti = amti < 0 ? 0 : amti;

    // AMT Deduction Calculation, including Phase Out
    // If amti_for_exemption is less than the amt_phase, then we just take the full exemption, else we need to reduce by 25cents per dollar over the amt_phase
    if (amti_for_exemption > amt_phase) {
      amt_deduction = amt_deduction - (0.25 * (amti_for_exemption - amt_phase))
    }

    // If for whatever reason the exemption amount comes out negative, assign it to 0
    amt_deduction = amt_deduction < 0 ? 0 : amt_deduction;
    
    // Calculate AMTI Final. If it's less than 0, assign it to zero
    var amti_final = amti - parseFloat(amt_deduction) < 0 ? 0 : amti - parseFloat(amt_deduction);

    
    // Caculate AMT Tax, including Brackets
    // Tack on long term capital gains tax to compare apples to apples with regular income tax owed
    if (amti_final > amt_tax_brackets) {
      var amt_tax_owed = ((amti_final - amt_tax_brackets) * 0.28) + (amt_tax_brackets * 0.26);
    } else {
      var amt_tax_owed = amti_final * 0.26;
    }
    var final_amt_tax_owed = amt_tax_owed + long_term_capital_gains_tax_owed;

    if (regular_income_tax_owed >= final_amt_tax_owed) {
      var amt_calculator_result_message = "Results: Because your regular income tax owed is more than your AMT, you will not need to pay any AMT";
    } else {
      var tax_diff = final_amt_tax_owed - regular_income_tax_owed;
      tax_diff = currency_formatter.format(tax_diff);
      var amt_calculator_result_message = `Results: Because your AMT is greater than your regular income tax owed, you will need to pay ${tax_diff} more in addition to your regular income tax`;
    }
    
    // AMT CREDIT?
    // DEPENDENT CREDIT?

    // Transform to $0.00 format
    long_term_capital_gains_for_calc = currency_formatter.format(long_term_capital_gains_for_calc);
    leftover_capital_loss_carryover = currency_formatter.format(leftover_capital_loss_carryover);
    total_income = currency_formatter.format(total_income);
    total_exemptions = currency_formatter.format(total_exemptions);
    agi = currency_formatter.format(agi);
    magi = currency_formatter.format(magi);
    regular_deduction_final = currency_formatter.format(regular_deduction_final);
    taxable_income = currency_formatter.format(taxable_income);
    long_term_capital_gains_tax_owed = currency_formatter.format(long_term_capital_gains_tax_owed);
    federal_income_tax_owed = currency_formatter.format(federal_income_tax_owed);
    medicare_tax_owed = currency_formatter.format(medicare_tax_owed);
    ssi_tax_owed = currency_formatter.format(ssi_tax_owed);
    regular_income_tax_owed = currency_formatter.format(regular_income_tax_owed);
    iso_spread_subtotal = currency_formatter.format(iso_spread_subtotal);
    amt_eligible_deductions = currency_formatter.format(amt_eligible_deductions);
    amti = currency_formatter.format(amti);
    amti_for_exemption = currency_formatter.format(amti_for_exemption);
    amt_deduction = currency_formatter.format(amt_deduction);
    amti_final = currency_formatter.format(amti_final);
    amt_tax_owed = currency_formatter.format(amt_tax_owed);
    final_amt_tax_owed = currency_formatter.format(final_amt_tax_owed);

    // Fill in Overall Results Table
    document.getElementById("amt_calculator_result_message").innerHTML= amt_calculator_result_message;
    document.getElementById("regular_income_tax_owed_td").innerHTML = regular_income_tax_owed;
    document.getElementById("final_amt_tax_owed_td").innerHTML = final_amt_tax_owed;
    // Fill in Regular Income Results Table
    document.getElementById("reg_table_total_income_td").innerHTML = total_income;
    document.getElementById("reg_table_long_term_capital_gains_td").innerHTML = long_term_capital_gains_for_calc;
    document.getElementById("reg_table_leftover_capital_loss_carryover_td").innerHTML = leftover_capital_loss_carryover;
    document.getElementById("reg_table_total_exemptions_td").innerHTML = total_exemptions;
    document.getElementById("reg_table_agi_td").innerHTML = agi;
    document.getElementById("reg_table_magi_td").innerHTML = magi;
    document.getElementById("reg_table_deduction_category_td").innerHTML = deduction_category;
    document.getElementById("reg_table_final_deduction_td").innerHTML = regular_deduction_final;
    document.getElementById("reg_table_taxable_income_td").innerHTML = taxable_income;
    document.getElementById("reg_table_federal_income_tax_owed_td").innerHTML = federal_income_tax_owed;
    document.getElementById("reg_table_ssi_tax_owed_td").innerHTML = ssi_tax_owed;
    document.getElementById("reg_table_medicare_tax_owed_td").innerHTML = medicare_tax_owed;
    document.getElementById("reg_table_long_term_capital_gains_tax_owed_td").innerHTML = long_term_capital_gains_tax_owed;
    document.getElementById("reg_table_regular_income_tax_owed_td").innerHTML = regular_income_tax_owed;
    // Fill in AMT Results Table
    document.getElementById("amt_table_total_income_td").innerHTML = total_income;
    document.getElementById("amt_table_long_term_capital_gains_td").innerHTML = long_term_capital_gains_for_calc;
    document.getElementById("amt_table_leftover_capital_loss_carryover_td").innerHTML = leftover_capital_loss_carryover;
    document.getElementById("amt_table_iso_spread_subtotal_td").innerHTML = iso_spread_subtotal;
    document.getElementById("amt_table_total_exemptions_td").innerHTML = total_exemptions;
    document.getElementById("amt_table_amt_eligible_deductions_td").innerHTML = amt_eligible_deductions;
    document.getElementById("amt_table_amti_td").innerHTML = amti;
    document.getElementById("amt_table_amti_for_exemption_td").innerHTML = amti_for_exemption;
    document.getElementById("amt_table_amt_deduction_td").innerHTML = amt_deduction;
    document.getElementById("amt_table_amti_final_td").innerHTML = amti_final;
    document.getElementById("amt_table_amt_tax_owed_td").innerHTML = amt_tax_owed;
    document.getElementById("amt_table_long_term_capital_gains_tax_owed_td").innerHTML = long_term_capital_gains_tax_owed;
    document.getElementById("amt_table_final_amt_tax_owed_td").innerHTML = final_amt_tax_owed;

  }
</script>