<form id="iso-exercise-planner-form">
<h3> Step 1: Figure out your Regular Income Tax </h3>
<label for="filing_status">Choose your Filing Status</label>
<select name="filing_status" id="filing_status">
  <option value="single">Single</option>
  <option value="married_separately">Married, Filing Separately</option>
  <option value="married">Married, Filing Together</option>
</select> <br><br>
<div class="calculator-input-text">Salary: 
</div> <input type="number" placeholder="0" class="calculate-form required_field" onchange=check_min(this) id="salary" /> <p class="calculator-validation-p" id="salary-p"></p><br>

<div class="calculator-input-text">Capital Gains: </div>
<input type="number" placeholder="0" class="calculate-form" id="capital-gains"><br>

<h4 id="total_income" class="result-header"> </h4>
<div class="calculator-input-text">Traditional 401k Contributions: </div> 
<input type="number" placeholder="0" class="calculate-form" onchange=check_min(this) id="trad-401k"><p class="calculator-validation-p" id="trad-401k-p"></p><br>

<div class="calculator-input-text">HSA Contributions: </div>
<input type="number" placeholder="0" class="calculate-form" onchange=check_min(this) id="hsa"><p class="calculator-validation-p" id="hsa-p"></p><br>
<div class="calculator-input-text">Traditional IRA Contributions: </div>
<input type="number" placeholder="0" class="calculate-form" onchange=check_min(this) id="trad-ira"><p class="calculator-validation-p" id="trad-ira-p"></p><br>

<div class="calculator-input-text calculator-tooltip">
  <span class="calculator-tooltip-text"><a href="/posts/what-is-sli" target="_blank">Learn about the SLI Deduction here</a></span>
  Student Loan Interest Paid: 
</div> <input type="number" placeholder="0" class="calculate-form" onchange=check_min(this) id="sli"><p class="calculator-validation-p" id="sli-p"></p><br>

<h4 id="agi" class="result-header"> </h4>
<div class="calculator-input-text calculator-tooltip">
  <span class="calculator-tooltip-text"><a href="/posts/what-is-medical-expense" target="_blank">Learn about medical expenses here </a></span>
  Medical Expenses: 
</div> <input type="number" placeholder="0" class="calculate-form" onchange=check_min(this) id="medical-expenses"><p class="calculator-validation-p" id="medical-expenses-p"></p><br>
<div class="calculator-input-text calculator-tooltip">
  <span class="calculator-tooltip-text"><a href="/posts/what-is-salt" target="_blank">Read about the SALT here</a></span>
  State and Local Tax (SALT): 
</div> <input type="number" placeholder="0" class="calculate-form" onchange=check_min(this) id="salt"><p class="calculator-validation-p" id="salt-p"></p><br>
<div class="calculator-input-text calculator-tooltip">
  <span class="calculator-tooltip-text"><a href="/posts/what-is-mortgage-interest" target="_blank">Learn about your mortgage interest here</a></span>
  Mortgage Interest Paid: 
</div> <input type="number" placeholder="0" class="calculate-form" onchange=check_min(this) id="mortgage-interest"><p class="calculator-validation-p" id="mortgage-interest-p"></p><br>

<h4 id="final_deduction" class="result-header"> </h4>
<h4 id="taxable_income" class="result-header"> </h4>
<h4 id="regular_income_tax" class="result-header"></h4>

<h3> Step 2: Input Exercisable ISO Grants </h3>
<br><label for="iso_forms_count" class="calculator-tooltip">  
  <span class="calculator-tooltip-text">Please enter grants from oldest to newest. <br> If you have more than 3, enter the 3 oldest</span>
  How many different ISO Grants could you potentially exercise from?</label>
<select name="iso_forms_count" id="iso_forms_count">
  <option value="iso_forms_count_one">1</option>
  <option value="iso_forms_count_two">2</option>
  <option value="iso_forms_count_three">3</option>
</select> 
<div id="iso-form-container-for-all">
  <br><div class="calculator-input-text calculator-tooltip">
    <span class="calculator-tooltip-text">Enter the current FMV or your best estimate for when you plan to exercise </span>
    Fair Market Value: </div>
    <input type="number" placeholder="0.00" class="calculate-form required_field" onchange=check_min(this) id="fmv" ><p class="calculator-validation-p" id="fmv-p"></p><br>
  
    <div class ="iso-form-containers" id="iso-form-container-1">
    <br>
    <h5 class="iso-form-labels" id="iso-form-label-1"> Input the details of grant #1 below </h5>
    <div class="calculator-input-text">Exercisable Shares: </div>
    <input type="number" placeholder="0" class="calculate-form required_field" onchange=check_min(this) id="shares-exercisable-1" ><p class="calculator-validation-p calculator-validation-iso-forms-p" id="shares-exercisable-1-p"></p><br>
    <div class="calculator-input-text">Strike Price: </div>
    <input type="number" placeholder="0.00" class="calculate-form required_field" onchange=check_min(this) id="strike-price-1" ><p class="calculator-validation-p calculator-validation-iso-forms-p" id="strike-price-1-p"></p><br>
    </div>

  <div class ="iso-form-containers" id="iso-form-container-2">
    <br>
    <h5 class="iso-form-labels" id="iso-form-label-2"> Input the details of grant #2 below </h5>
    <div class="calculator-input-text">Exercisable Shares: </div>
    <input type="number" placeholder="0" class="calculate-form" onchange=check_min(this) id="shares-exercisable-2" ><p class="calculator-validation-p calculator-validation-iso-forms-p" id="shares-exercisable-2-p"></p><br>
    <div class="calculator-input-text">Strike Price: </div>
    <input type="number" placeholder="0.00" class="calculate-form" onchange=check_min(this) id="strike-price-2" ><p class="calculator-validation-p calculator-validation-iso-forms-p" id="strike-price-2-p"></p><br>
  </div>
  
  <div class ="iso-form-containers" id="iso-form-container-3">
    <br>
    <h5 class="iso-form-labels" id="iso-form-label-3"> Input the details of grant #3 below </h5>
    <div class="calculator-input-text">Exercisable Shares: </div>
    <input type="number" placeholder="0" class="calculate-form" onchange=check_min(this) id="shares-exercisable-3" ><p class="calculator-validation-p calculator-validation-iso-forms-p" id="shares-exercisable-3-p"></p><br>
    <div class="calculator-input-text">Strike Price: </div>
    <input type="number" placeholder="0.00" class="calculate-form" onchange=check_min(this) id="strike-price-3" ><p class="calculator-validation-p calculator-validation-iso-forms-p" id="strike-price-3-p"></p><br>
  </div>
</div>

<br><input type="button" value="Calculate" onclick=check_required()>
</form>
<h3> Results: </h3>
<h4 id="iso_spread_allowed" class="result-header"> </h4>
<h4 id="result_validation_message" class="result-header"> </h4>
<!--<h4 id="placeholder" class="result-header"> </h4>-->

<table class="hidden table table-bordered table-striped" id="iso-planner-result-table">
  <tr id="iso-planner-result-header">
    <th>Grant Number</th>
    <th>Strike Price</th>
    <th>Shares You Can Exercise</th>
    <th>Cost For You to Exercise</th>
  </tr>
  <tr class="iso-planner-result-row" id="iso-planner-result-row-1">
    <td id="iso-planner-result-grant-label_1">Grant #1</td>
    <td id="iso-planner-result-strike-price_1"></td>
    <td id="iso-planner-result-shares-exercise_1"></td>
    <td id="iso-planner-result-cost_1"></td>
  </tr>
  <tr class="iso-planner-result-row" id="iso-planner-result-row-2">
    <td id="iso-planner-result-grant-label_2">Grant #2</td>
    <td id="iso-planner-result-strike-price_2"></td>
    <td id="iso-planner-result-shares-exercise_2"></td>
    <td id="iso-planner-result-cost_2"></td>
  </tr>
  <tr class="iso-planner-result-row" id="iso-planner-result-row-3">
    <td id="iso-planner-result-grant-label_3">Grant #3</td>
    <td id="iso-planner-result-strike-price_3"></td>
    <td id="iso-planner-result-shares-exercise_3"></td>
    <td id="iso-planner-result-cost_3"></td>
  </tr>
  <tr class="iso-planner-result-row" id="iso-planner-result-row-total">
    <td id="iso-planner-result-grant-label_total">Total</td>
    <td id="iso-planner-result-strike-price_total"></td>
    <td id="iso-planner-result-shares-exercise_total"></td>
    <td id="iso-planner-result-cost_total"></td>
  </tr>
</table>
<script>

  // Dyanmic forms for ISO Spread Details
  // Starts with 1 ISO Grant Form shown
  // Also clears the error / validation message after every change, and adds/removes required_field class for check_required
  // Also hides/unhides the results table
  // Also clears the results messages
  $(document).ready(function() {
    $('#iso-form-container-2').hide();
    $('#iso-form-container-3').hide();
    
    $('#iso_forms_count').change(function(){
      if ($(this).val() == "iso_forms_count_one") {
        $('#iso-form-container-3').hide();
        $('#iso-form-container-2').hide();
        $('#iso-form-container-1').show();
        $('.calculator-validation-iso-forms-p').text("");
        $('#shares-exercisable-2').removeClass("required_field");
        $('#strike-price-2').removeClass("required_field");
        $('#shares-exercisable-3').removeClass("required_field");
        $('#strike-price-3').removeClass("required_field");
        $('#iso-planner-result-table').addClass("hidden");
        $('.result-header').text('');
      } else if ($(this).val() == "iso_forms_count_two") {
        $('#iso-form-container-3').hide();
        $('#iso-form-container-1').show();
        $('#iso-form-container-2').show();
        $('.calculator-validation-iso-forms-p').text("");
        $('#shares-exercisable-2').addClass("required_field");
        $('#strike-price-2').addClass("required_field");
        $('#shares-exercisable-3').removeClass("required_field");
        $('#strike-price-3').removeClass("required_field");
        $('#iso-planner-result-table').addClass("hidden");
        $('.result-header').text('');
      } else if ($(this).val() == "iso_forms_count_three") {
        $('#iso-form-container-1').show();
        $('#iso-form-container-2').show();
        $('#iso-form-container-3').show();
        $('.calculator-validation-iso-forms-p').text("");
        $('#shares-exercisable-2').addClass("required_field");
        $('#strike-price-2').addClass("required_field");
        $('#shares-exercisable-3').addClass("required_field");
        $('#strike-price-3').addClass("required_field");
        $('#iso-planner-result-table').addClass("hidden");
        $('.result-header').text('');
      }
    })
  })
    
  // Check to see if all required fields are filled out
  // If they are, run calculate_taxes
  // If they are not, show error message
  function check_required() {
    var required_array = document.getElementsByClassName("required_field");
    var confirmation_array = [];
      
    for (i=0; i<required_array.length; i++) {
      if (required_array[i].value == "") {
        var p_id = required_array[i].id;
        p_id = p_id.concat('-p');
        document.getElementById(p_id).innerHTML = "This field is required";
        confirmation_array.push(false);
      } else {
        confirmation_array.push(true);
      }
    }
    var confirmation = confirmation_array.every(Boolean);
    if(confirmation) {
      calculate_taxes();
    }
  }


  function check_min(input) {
    var input_id = document.getElementById(input.id).id;
    var p_id = input_id.concat('-p');
    if (input.value < 0) {
      input.value = "";
      document.getElementById(p_id).innerHTML = "This number must not be negative";
    } else {
      document.getElementById(p_id).innerHTML = "";
    }
  }
  
  var currency_formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD',
  });

  var number_formatter = new Intl.NumberFormat('en-US');

  function calculate_taxes() {

    // First clear any error / validation messages. Any further validation below will re-set them if needed
    var all_validation_messages = document.getElementsByClassName("calculator-validation-p");
    for (i=0;i<all_validation_messages.length;i++) {
      all_validation_messages[i].innerHTML = "";
    }
    // Get 'value' of filing status selected to use to set tax limitations by filing status
    var filing_status_obj = document.getElementById("filing_status");
    var filing_status = filing_status_obj.options[filing_status_obj.selectedIndex].value;
    
    if (filing_status == 'single') {
      var amt_deduction=72900;
      var amt_phase = 518400;
      var amt_tax_brackets = 197900;
      var standard_deduction=12400;
      var sli_phase = 70000;
      var sli_max = 85000;
      var sli_divider = 15000;
      //LOOK INTO WHETHER SINGLE PEOPLE CAN HAVE A FAMILY HSA;     
      var trad_401k_limit = 19500;
      var hsa_limit = 3550;
      var trad_ira_limit = 6000;
      var salt_deduction_limit = 10000;
      var reg_income_tax_bracket = [0,9875,40125,85525,163300,207350,518400];

    } else if (filing_status == 'married_separately') {
      var amt_deduction=56700;
      var amt_phase = 518400;
      var amt_tax_brackets = 98950;
      var standard_deduction=12400;
      var sli_phase = 0;
      var sli_max = 0;
      var sli_divider = 0;
      var trad_401k_limit = 19500;
      var hsa_limit = 7100;
      var trad_ira_limit = 6000;
      var salt_deduction_limit = 5000;
      var reg_income_tax_bracket = [0,9875,40125,85525,163300,207350,311025];

    } else if (filing_status == 'married') {
      var amt_deduction=113400;
      var amt_phase = 1036800;
      var amt_tax_brackets = 197900;
      var standard_deduction=24800;
      var sli_phase = 140000;
      var sli_max = 170000;
      var sli_divider = 30000;
      var trad_401k_limit = 39000;
      var hsa_limit = 7100;
      var trad_ira_limit = 12000;
      var salt_deduction_limit = 10000;
      var reg_income_tax_bracket = [0,19750,80250,171050,326600,414700,622050];

    }
    function empty_to_zero(num) {
      if (num.length == 0) num = 0;
      return num;
    }

    // Get all form inputs. For all null / empty inputs, assign value of 0
    var salary=empty_to_zero(document.getElementById("salary").value);
    var capital_gains=empty_to_zero(document.getElementById("capital-gains").value);
    var trad_401k=empty_to_zero(document.getElementById("trad-401k").value);
    var hsa=empty_to_zero(document.getElementById("hsa").value);
    var trad_ira=empty_to_zero(document.getElementById("trad-ira").value);
    var sli=empty_to_zero(document.getElementById("sli").value);
    var medical_expenses=empty_to_zero(document.getElementById("medical-expenses").value);
    var salt=empty_to_zero(document.getElementById("salt").value);
    var mortgage_interest=empty_to_zero(document.getElementById("mortgage-interest").value);

    var iso_form_count_obj = document.getElementById("iso_forms_count");
    var iso_form_count = iso_form_count_obj.options[iso_form_count_obj.selectedIndex].value;
    
    var fmv=empty_to_zero(document.getElementById("fmv").value);    
    var shares_exercisable_1=empty_to_zero(document.getElementById("shares-exercisable-1").value);
    var strike_price_1=empty_to_zero(document.getElementById("strike-price-1").value);
    var shares_exercisable_2=empty_to_zero(document.getElementById("shares-exercisable-2").value);
    var strike_price_2=empty_to_zero(document.getElementById("strike-price-2").value);
    var shares_exercisable_3=empty_to_zero(document.getElementById("shares-exercisable-3").value);
    var strike_price_3=empty_to_zero(document.getElementById("strike-price-3").value);
    
    // Does some validation based on the number of ISO Grants selected when user hits 'Calculate'. 
    // Zeroes out any inputs from extra forms that were hidden
    if (iso_form_count == "iso_forms_count_one") {
      shares_exercisable_2 = strike_price_2 = shares_exercisable_3 = strike_price_3 = 0;
    } else if (iso_form_count == "iso_forms_count_two") {
      shares_exercisable_3 = strike_price_3 = 0;
    }

    // Calculate Total Income
    var total_income = parseFloat(salary) + parseFloat(capital_gains);
    
    // Make sure number is under 401k limit
    if (trad_401k > trad_401k_limit) {
      trad_401k = trad_401k_limit;
      document.getElementById("salt").value = trad_401k_limit;
      document.getElementById('trad-401k-p').innerHTML = "The 401k limit for your filing status is: " + trad_401k_limit;
    }
    // Make sure number is under HSA limit
    if (hsa > hsa_limit) {
      hsa = hsa_limit;
      document.getElementById("salt").value = hsa_limit;
      document.getElementById('hsa-p').innerHTML = "The HSA limit for your filing status is: " + hsa_limit;
    }

    // Make sure number is under Trad IRA limit
    if (trad_ira > trad_ira_limit) {
      trad_ira = trad_ira_limit;
      document.getElementById("salt").value = trad_ira_limit;
      document.getElementById('trad-ira-p').innerHTML = "The IRA limit for your filing status is: " + trad_ira_limit;
    }
    // MAGI - AGI but includes Trad IRA, SLI
    var magi = total_income - parseFloat(trad_401k) - parseFloat(hsa);

    if (magi > sli_max) {
      sli = 0;
    } else if (magi > sli_phase) {
      var sli_multiplier = (magi - sli_phase) / sli_divider;
      if (sli_multiplier > 1) {
        sli_multiplier = 1;
      } else if (sli_multiplier < 0) {
        sli_multiplier = 0;
      } else {
        sli_multiplier = sli_multiplier.toFixed(3);
      }
      
      sli_correction = parseFloat(sli) * parseFloat(sli_multiplier);
      sli = sli - parseFloat(sli_correction);
      sli = sli.toFixed(2);
    } 

    // Calculate AGI
    var agi = total_income - parseFloat(trad_401k) - parseFloat(hsa) - parseFloat(trad_ira) - parseFloat(sli);
    
    // Medical Expenses Deduction - only include if more than 10% of AGI, else 0
    if (medical_expenses > (agi * 0.1)) {
      medical_expenses = medical_expenses - (agi * 0.1);
    } else {
      medical_expenses = 0;
    }
    
    // Make sure SALT is under SALT limit
    if (salt > salt_deduction_limit) {
      salt = salt_deduction_limit;
      document.getElementById("salt").value = salt_deduction_limit;
      document.getElementById('salt-p').innerHTML = "The SALT limit for your filing status is: " + salt_deduction_limit;
    }

    // Standard vs Itemized Deduction
    var itemized_deduction = parseFloat(medical_expenses) + parseFloat(salt) + parseFloat(mortgage_interest) + parseFloat(sli);
    if (itemized_deduction > standard_deduction) {
      var regular_deduction_final = itemized_deduction;
      var deduction_category = 'Itemized Deduction';
    } else {
      var regular_deduction_final = standard_deduction;
      var deduction_category = 'Standard Deduction';
    }

    // Calculate Regular taxable income
    var taxable_income = agi - regular_deduction_final;
    
    // CALCULATE REGULAR TAXES
    var reg_income_tax_rate = [0.1,0.12,0.22,0.24,0.32,0.35,0.37];
    // Returns index of first tax bracket threshold greater than taxable_income, so subtract 1 (JS is index 0)
    var taxable_income_index = reg_income_tax_bracket.findIndex(function(number) {
        return number > taxable_income;
    }) - 1;
    
    var regular_income_tax = 0;
    if (taxable_income > 0) {
      for (var i = taxable_income_index; i >= 0; i--) {
          if (i == taxable_income_index) {
              regular_income_tax += reg_income_tax_rate[taxable_income_index] * (taxable_income - reg_income_tax_bracket[taxable_income_index]);
          } else {
              regular_income_tax += reg_income_tax_rate[i] * (reg_income_tax_bracket[i+1] - reg_income_tax_bracket[i]);
          }
      }
    }

    // Calculate AMTI Baseline (before ISO spread, AMT exemption)
    if (deduction_category == 'Standard Deduction') {
      var amti_baseline = taxable_income + standard_deduction;
    } else {
      var amti_baseline = taxable_income + parseFloat(salt) + parseFloat(medical_expenses);
    }
    
    // Calculate ISO Spread Per Share, per potential grant
    var fmv_parsed = parseFloat(fmv);
    var shares_exercisable_1_parsed = parseFloat(shares_exercisable_1);
    var shares_exercisable_2_parsed = parseFloat(shares_exercisable_2);
    var shares_exercisable_3_parsed = parseFloat(shares_exercisable_3);
    var strike_price_1_parsed = parseFloat(strike_price_1);
    var strike_price_2_parsed = parseFloat(strike_price_2);
    var strike_price_3_parsed = parseFloat(strike_price_3);

    if (strike_price_1_parsed === 0) {
      var iso_spread_pershare_1 = 0;
    } else {
      var iso_spread_pershare_1 = fmv_parsed - strike_price_1_parsed;
    }
    if (strike_price_2_parsed === 0) {
      var iso_spread_pershare_2= 0;
    } else {
      var iso_spread_pershare_2 = fmv_parsed - strike_price_2_parsed;
    }
    if (strike_price_3_parsed === 0) {
      var iso_spread_pershare_3 = 0;
    } else {
      var iso_spread_pershare_3 = fmv_parsed - strike_price_3_parsed;
    }

    var iso_input_array = [fmv_parsed, shares_exercisable_1_parsed, shares_exercisable_2_parsed, shares_exercisable_3_parsed, strike_price_1_parsed, strike_price_2_parsed, strike_price_3_parsed];
    var iso_spread_array = [iso_spread_pershare_1,iso_spread_pershare_2,iso_spread_pershare_3];

    // Display result message
    // If user did not enter anything (submitted all with 0s or 0.00s)
    if (iso_input_array.every(function(i) {return i === 0;} )) {
      var result_validation_message = "You did not input any relevant ISO details, so we cannot calculate how many to exercise!";
      //I'm lazy and there's probably a better place to format this number as opposed to 4 different places 
      regular_income_tax = currency_formatter.format(regular_income_tax);
    // Else if user somehow entered FMV and strike prices that were the same
    } else if (iso_spread_array.every(function(i) {return i === 0;} )) {
      var result_validation_message = "Because your FMV and Strike Prices are the same, you don't need to worry about AMT!";
      //I'm lazy and there's probably a better place to format this number as opposed to 4 different places 
      regular_income_tax = currency_formatter.format(regular_income_tax);
    // Calculate the total ISO Spread allowed (the spread resulting in no diff between regular income tax and the tax you would pay for AMT)
    } else {

      // Determine how much wiggle room you have before hitting the 28% threshold
      var iso_subtotal_1 = shares_exercisable_1_parsed * iso_spread_pershare_1;
      var iso_subtotal_2 = shares_exercisable_2_parsed * iso_spread_pershare_2;
      var iso_subtotal_3 = shares_exercisable_3_parsed * iso_spread_pershare_3;
      var iso_subtotal_all = iso_subtotal_1 + iso_subtotal_2 + iso_subtotal_3;
      var iso_spread_threshold = amt_tax_brackets - (amti_baseline + iso_subtotal_all - amt_deduction);
      // If iso_spread_threshold is negative, that means there is the possibility you exceed the amt_tax_bracket threshold, so you should use the 28% calculator
      if (iso_spread_threshold < 0) {
        var iso_spread_allowed =  (regular_income_tax - amt_tax_brackets * 0.26) / 0.28 + amt_tax_brackets + amt_deduction - amti_baseline;
      } else {
        var iso_spread_allowed =  regular_income_tax / 0.26 - amti_baseline + amt_deduction;
      }
      // If the total amount of ISOs you can exercise is less than what is allowed, you can exercise them all
      if (iso_subtotal_all <= iso_spread_allowed) {
        var famti = amti_baseline + iso_subtotal_all - amt_deduction;
        if (famti - amt_tax_brackets > 0) {
          var amt_taxes_owed = (famti - amt_tax_brackets) * 0.28 + amt_tax_brackets * 0.26;
        } else {
          var amt_taxes_owed = famti * 0.26;
        }
        amt_taxes_owed = currency_formatter.format(amt_taxes_owed);
        regular_income_tax = currency_formatter.format(regular_income_tax);

        var shares_to_exercise_allowed_from1 = shares_exercisable_1_parsed;
        var shares_to_exercise_allowed_from2 = shares_exercisable_2_parsed;
        var shares_to_exercise_allowed_from3 = shares_exercisable_3_parsed;
        var shares_to_exercise_allowed = shares_to_exercise_allowed_from1 + shares_to_exercise_allowed_from2 + shares_to_exercise_allowed_from3;
        var shares_to_exercise_allowed_formatted = currency_formatter.format(shares_to_exercise_allowed);
        var cost_to_exercise = shares_to_exercise_allowed_from1 * strike_price_1_parsed + shares_to_exercise_allowed_from2 * strike_price_2_parsed + shares_to_exercise_allowed_from3 * strike_price_3_parsed;
        
        var result_validation_message = "You can exercise all of your options! If you do so your AMT owed would be " + amt_taxes_owed + " but because it is less than your regular income tax of " + regular_income_tax + " you do not need to pay AMT";
      // Else, return how many of each lot to exercise, going from oldest to newest    
      } else {
        if (iso_subtotal_1 > iso_spread_allowed) {
          var shares_to_exercise_allowed_from1 = Math.floor(iso_spread_allowed / iso_spread_pershare_1);
          var shares_to_exercise_allowed_from2 = 0;
          var shares_to_exercise_allowed_from3 = 0;
          var shares_to_exercise_allowed = shares_to_exercise_allowed_from1;
          var cost_to_exercise = shares_to_exercise_allowed_from1 * strike_price_1_parsed;
          var famti = amti_baseline - amt_deduction + shares_to_exercise_allowed * iso_spread_pershare_1;
        } else if (iso_subtotal_2 + iso_subtotal_1 > iso_spread_allowed) {
          var iso_spread_remaining = iso_spread_allowed - iso_subtotal_1;
          var shares_to_exercise_allowed_from1 = shares_exercisable_1_parsed;
          var shares_to_exercise_allowed_from2 = Math.floor(iso_spread_remaining / iso_spread_pershare_2);
          var shares_to_exercise_allowed_from3 = 0;
          var shares_to_exercise_allowed = shares_to_exercise_allowed_from1 + shares_to_exercise_allowed_from2;
          var cost_to_exercise = shares_to_exercise_allowed_from1 * strike_price_1_parsed + shares_to_exercise_allowed_from2 * strike_price_2_parsed;
          var famti = amti_baseline - amt_deduction + iso_subtotal_1 + shares_to_exercise_allowed_from2 * iso_spread_pershare_2;
        } else {
          var iso_spread_remaining = iso_spread_allowed - iso_subtotal_1 - iso_subtotal_2;
          var shares_to_exercise_allowed_from1 = shares_exercisable_1_parsed;
          var shares_to_exercise_allowed_from2 = shares_exercisable_2_parsed;
          var shares_to_exercise_allowed_from3 = Math.floor(iso_spread_remaining / iso_spread_pershare_3);
          var shares_to_exercise_allowed = shares_to_exercise_allowed_from1 + shares_to_exercise_allowed_from2 + shares_to_exercise_allowed_from3;
          var cost_to_exercise = shares_to_exercise_allowed_from1 * strike_price_1_parsed + shares_to_exercise_allowed_from2 * strike_price_2_parsed + shares_to_exercise_allowed_from3 * strike_price_3_parsed;;
          var famti = amti_baseline - amt_deduction + iso_subtotal_1 + iso_subtotal_2 + shares_to_exercise_allowed_from3 * iso_spread_pershare_3;
        }
        if (famti - amt_tax_brackets > 0) {
          var amt_taxes_owed = (famti - amt_tax_brackets) * 0.28 + amt_tax_brackets * 0.26;
        } else {
          var amt_taxes_owed = famti * 0.26;
        }
        amt_taxes_owed = currency_formatter.format(amt_taxes_owed);
        regular_income_tax = currency_formatter.format(regular_income_tax);
        shares_to_exercise_allowed_formatted = number_formatter.format(shares_to_exercise_allowed);
        var result_validation_message = "You can exercise a total of " + shares_to_exercise_allowed_formatted + " options! If you do so your AMT owed would be " + amt_taxes_owed + " but because it is less than your regular income tax of " + regular_income_tax + " you do not need to pay AMT";
      }

      // Calculate cost to exercise and format
      cost_to_exercise1 = strike_price_1_parsed * shares_to_exercise_allowed_from1;
      cost_to_exercise2 = strike_price_2_parsed * shares_to_exercise_allowed_from2;
      cost_to_exercise3 = strike_price_3_parsed * shares_to_exercise_allowed_from3;
      var cost_to_exercise = cost_to_exercise1 + cost_to_exercise2 + cost_to_exercise3;
    
      cost_to_exercise1 = currency_formatter.format(cost_to_exercise1);
      cost_to_exercise2 = currency_formatter.format(cost_to_exercise2);
      cost_to_exercise3 = currency_formatter.format(cost_to_exercise3);
      
      strike_price_1_parsed = currency_formatter.format(strike_price_1_parsed);
      strike_price_2_parsed = currency_formatter.format(strike_price_2_parsed);
      strike_price_3_parsed = currency_formatter.format(strike_price_3_parsed);

      shares_to_exercise_allowed_from1_formatted = number_formatter.format(shares_to_exercise_allowed_from1);
      shares_to_exercise_allowed_from2_formatted = number_formatter.format(shares_to_exercise_allowed_from2);
      shares_to_exercise_allowed_from3_formatted = number_formatter.format(shares_to_exercise_allowed_from3);
      
      // Populate Results Table dynamically
      document.getElementById("iso-planner-result-table").classList.remove("hidden");
      if (iso_form_count == "iso_forms_count_one") {
        document.getElementById("iso-planner-result-row-1").classList.remove("hidden");
        document.getElementById("iso-planner-result-row-2").classList.add("hidden");
        document.getElementById("iso-planner-result-row-3").classList.add("hidden");

        document.getElementById("iso-planner-result-strike-price_1").innerHTML = strike_price_1_parsed;
        document.getElementById("iso-planner-result-shares-exercise_1").innerHTML = shares_to_exercise_allowed_from1_formatted;
        document.getElementById("iso-planner-result-cost_1").innerHTML = cost_to_exercise1;

      } else if (iso_form_count == "iso_forms_count_two") {
        document.getElementById("iso-planner-result-row-1").classList.remove("hidden");
        document.getElementById("iso-planner-result-row-2").classList.remove("hidden");
        document.getElementById("iso-planner-result-row-3").classList.add("hidden");

        document.getElementById("iso-planner-result-strike-price_1").innerHTML = strike_price_1_parsed;
        document.getElementById("iso-planner-result-shares-exercise_1").innerHTML = shares_to_exercise_allowed_from1_formatted;
        document.getElementById("iso-planner-result-cost_1").innerHTML = cost_to_exercise1;
        document.getElementById("iso-planner-result-strike-price_2").innerHTML = strike_price_2_parsed;
        document.getElementById("iso-planner-result-shares-exercise_2").innerHTML = shares_to_exercise_allowed_from2_formatted;
        document.getElementById("iso-planner-result-cost_2").innerHTML = cost_to_exercise2;

      } else if (iso_form_count == "iso_forms_count_three") {
        document.getElementById("iso-planner-result-row-1").classList.remove("hidden");
        document.getElementById("iso-planner-result-row-2").classList.remove("hidden");
        document.getElementById("iso-planner-result-row-3").classList.remove("hidden");

        document.getElementById("iso-planner-result-strike-price_1").innerHTML = strike_price_1_parsed;
        document.getElementById("iso-planner-result-shares-exercise_1").innerHTML = shares_to_exercise_allowed_from1_formatted;
        document.getElementById("iso-planner-result-cost_1").innerHTML = cost_to_exercise1;
        document.getElementById("iso-planner-result-strike-price_2").innerHTML = strike_price_2_parsed;
        document.getElementById("iso-planner-result-shares-exercise_2").innerHTML = shares_to_exercise_allowed_from2_formatted;
        document.getElementById("iso-planner-result-cost_2").innerHTML = cost_to_exercise2;
        document.getElementById("iso-planner-result-strike-price_3").innerHTML = strike_price_3_parsed;
        document.getElementById("iso-planner-result-shares-exercise_3").innerHTML = shares_to_exercise_allowed_from3_formatted;
        document.getElementById("iso-planner-result-cost_3").innerHTML = cost_to_exercise3;
      }
        // Populate Total Row of Results Table
      var average_strike_price = cost_to_exercise / shares_to_exercise_allowed;
      average_strike_price = currency_formatter.format(average_strike_price);
      cost_to_exercise = currency_formatter.format(cost_to_exercise);

      document.getElementById("iso-planner-result-strike-price_total").innerHTML = "Average: " + average_strike_price;
      document.getElementById("iso-planner-result-shares-exercise_total").innerHTML = shares_to_exercise_allowed_formatted;
      document.getElementById("iso-planner-result-cost_total").innerHTML = cost_to_exercise;

    }

    // AMT CREDIT?
    // DEPENDENT CREDIT?

    total_income = currency_formatter.format(total_income);
    agi = currency_formatter.format(agi);
    regular_deduction_final = currency_formatter.format(regular_deduction_final);
    taxable_income = currency_formatter.format(taxable_income);

    document.getElementById("total_income").innerHTML="Your Total Income is " + total_income;
    document.getElementById("agi").innerHTML="Your Adjusted Gross Income (AGI) is " + agi;
    document.getElementById("final_deduction").innerHTML="You took the " + deduction_category + " and your deduction is " + regular_deduction_final;
    document.getElementById("taxable_income").innerHTML="Your Taxable Income is " + taxable_income;
    document.getElementById("regular_income_tax").innerHTML= "Your Regular Income Tax is: " + regular_income_tax;
    document.getElementById("result_validation_message").innerHTML= result_validation_message;
    //document.getElementById("placeholder").innerHTML= placeholder;

  }
</script>